body {
    font: 12px Arial, sans-serif;
}

.imageEditor {
	margin: 0 auto;
}

.imageEditorDrop {
    color: #555;
    font-size: 18px;
    text-align: center;    
	
	background-color: #c8dadf;
	background-image: url(upload.svg);
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-size: auto 28%;
	
	padding-top: 200px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;	
	
	box-sizing: border-box;
	width: 500px;
	height: 300px;
	
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;	
}


.imageEditorInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;	
	z-index: -1;
}

.imageEditorLabel {
	display: block;
	font-size: 16px;	
	cursor: pointer;
	color: #0f3c4b;
	font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;	
}

.editorLabelLink {
	font-weight: 700;
}

.editorLabelClick:hover {
	color: #39bfd3;
}

.imageEditorCanvas {
	display: none;	
	border: 1px solid;
}