body {
    font: 12px Arial, sans-serif;
}

.imageEditor{
    color: #555;
    font-size: 18px;
    text-align: center;    
	
	background-color: #c8dadf;
	padding: 100px 20px;
	box-sizing: border-box;
	width: 100%;
	
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;	
}